{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<h1 style="margin: 50px;">Привет, я Игорь!</h1>
<p style="margin: 45px; font-size: 24px;">
  Я начинающий программист, студент факультета Бэкенд.<br>
  У меня нет технического образования и это мой первый сайт,
  в который я стараюсь вложить все свои знания, полученные на курсе.<br>
  В мир программирования я пришел весной 2020 года (пик COVID-19).<br>
  Во время карантинных недель я провёл много времени в рефлексии.<br>
  Мне нужен был новый вызов.<br>
  И вот я здесь.<br>
  Спустя 2 года.<br>
</p>
{% endblock %}